p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

body,
html {
    overflow-x: hidden;
}

:root {
    --primary-text-color: #000000;
    --accent-color: #A0A0A0;;
    --primary-white-color: #FFFFFF;
}

.header__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-right: 24px;
}

.header__icon {
    width: 200px;
    height: 17px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
        .header__nav {
            display: none;
        }
    }

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;   
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;   
    }
   
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;  
    }
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item:last-child {
    margin-right: 0px;
}

.mobile {
    position: relative;
}

.mobile-close {
    position: absolute;
    top: 50%;
    right: 5%;
}

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }   
}

.hero__title {
    font-weight: 400;
    font-size: 43px;
    line-height: 1.07;
    text-align: center;
    color: var(--primary-white-color);
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .hero__title {
        font-size: 30px;
    }  
}

.hero__tex {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--primary-white-color);
    margin-bottom: 28px;
}

.hero__deskription {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--primary-white-color)
}

.hero {
    background-image: url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 193px;
    padding-bottom: 193px;
}

@media screen and (max-width: 767px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}

.desing {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (min-width: 1400px) {
    .desing {
        padding-top: 80px;
        padding-bottom: 120px;
    }
}

.desing__title {
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 1,35;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 23px;
}

@media screen and (max-width: 768px) {
    .desing__title {
        font-size: 30px;
    }
}

.desing__tex {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--accent-color);
    margin-bottom: 26px;
}

.desing__deskription {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 81px;
}

@media screen and (max-width: 1200px) {
    .desing__deskription {
        margin-bottom: 40px;
    }
}

.desing__box {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 40px;
}

.desing__box:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .desing__box { 
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1400px) {
    .desing__box {
        width: 50%;
    }
}


.desing__box__tex {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.11;
    text-align: center;
    color: var(--primary-text-color)
}

.desing__box__deskription {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--primary-text-color)
}

.desing__margin {
    margin-bottom: 15px;
}

.desing__case {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .desing__case {
        flex-direction: row;
        justify-content: space-between;
    }
}

#square {
    width: 7px;
    height: 7px;
    background: var(--primary-text-color);
}

.products {
    padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .products {
        padding-bottom: 50px;
    }
}

.products__title {
    font-weight: 400;
    font-size: 33px;
    line-height: 1.09;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .products__title {
        font-size: 25px;
    }
}

.products__tex {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--accent-color);
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .products__tex {
        margin-bottom: 20px;
    }
}

.products__squares {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}

.products__item {
    margin-right: 16px;
}

.products__item:last-child {
    margin-right: 0px;
}


.products__image {
    width: 250px;
    height: 350px;
    margin-bottom: 22px;
}

.products__list {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@media screen and (min-width: 768px) {
    .products__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.products__tex__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.7px;
    color: var(--accent-color);
    padding: 0.14px;
}

.products__deskription {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.7px;
    color: var(--accent-color);
    padding: 0.16px;
}

.products__item__part {
    margin-bottom: 25px;
}

.products__item__part:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .products__item__part:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 768px) {
    .products__item__part:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1400px) {
    .products__item__part {
        margin-bottom: 0px;
    }
}

.office {
    background-image: url(../images/home-office-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
    .office {
        padding-top: 181px;
        padding-bottom: 181px;
    }
}

.office__title {
    font-weight: 400;
    font-size: 66px;
    line-height: 1.06;
    text-align: center;
    color: var(--primary-white-color);
    margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
    .office__title {
        font-size: 40px;
    }
}

.office__tex {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--primary-white-color);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .office__tex {
        font-size: 12px;
    }
}

.office__deskription {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.way__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.06;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 23px;
}

.way__tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--accent-color);
    margin-bottom: 23px;
}

@media screen and (max-width: 768px) {
    .way__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .way__tex {
        font-size: 12px;
    }
}

.way__image {
    margin: auto;
    max-width: 1052px;
    max-height: 592px;
}

.way {
    padding-top: 116px;
    padding-bottom: 42px;
}

@media screen and (max-width: 768px) {
    .way {
        padding-top: 50px;
    }
}

.work {
    padding-bottom: 39px;
}

.work__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.06;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 23px;
} 


.work__tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--accent-color);
    margin-bottom: 79px;
}

@media screen and (max-width: 767px) {
    .work {
        display: none;
    }
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

@media screen and (min-width: 1200px) {
    .work__list {
        margin-bottom: 96px
    }
}

.works__item {
    width: 30%;
    margin-bottom: 24px;
}

.works__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
    .works__item {
        width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .works__item:nth-last-child(-n+6) {
        margin-bottom: 0px;
} 
}

.work__tex__part {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.06;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 44px;
}

.work__tex__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 70px;
}

.work__img {
    width: 40px;
    height: 34px;
    margin-bottom: 24px;
    margin: auto;
}

.work__part {
    width: 500px;
    background-color: #9AA8B1;
    width: 678px;
    padding-top: 70px;
}


@media screen and (min-width: 1200px) {
    .work__part {
        padding-top: 120px;
    }
}

@media screen and (min-width: 1100px) {
    .work__part {
        width: 1000px;
    }
}

@media screen and (min-width: 1400px) {
    .work__part {
        width: 1340px;
    }
}

.work__part__tex {
    font-weight: 400;
    font-size: 43px;
    line-height: 1.35;
    text-align: center;
    color: var(--primary-white-color);
    margin-bottom: 23px;
}

.work__part__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.8px;
    color: var(--primary-white-color);
    padding-bottom: 70px;
}

.work__part__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list {
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
    .footer__list {
        margin-bottom: 13px;
    }
}

@media screen and (min-width: 768px) {
    .footer__list {
        margin-right: 13px;
        margin-bottom: 0px;
    }
}

.footer__item {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.09;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

.footer__item:last-child {
    margin-bottom: 0px;
}


@media screen and (min-width: 1400px) {
    .footer__item {
        font-size: 22px;
    }  
}

.footer__tex {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color:var(--accent-color);
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .footer__tex {
        padding-bottom: 70px;
        width: 350px;
    }
}

@media screen and (min-width: 1400px) {
    .footer__tex {
        padding-bottom: 91px;
    }
}

.footer__tex_box {
    position: relative;
}

@media screen and (min-width: 768px) {
    .footer__box {
        margin-bottom: 80px;
    }
}


.footer__tex_box:after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--primary-text-color);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.footer_img {
    width: 42px;
    height: 42px;
    margin-left: 90%;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .footer_img {
        width: 62px;
        height: 62px;
        position: absolute;
        top: 0px;
        right: 50px;
    }
}

@media screen and (min-width: 1400px) {
    .footer_img {
        width: 82px;
        height: 82px;
    }
}

.footer__item__right {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.8px;
    color: #707A7F;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .footer__item__right{
        margin-right: 37px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 768px) {
    .footer__item__right:last-child {
        margin-right: 0px;
    }
}

.footer {
    padding-top: 30px;
    padding-bottom: 40px;
    background: #F9F9F9;
    position: relative;
    }

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 90px;
    }
}

@media screen and (min-width: 1400px) {
    .footer {
        padding-top: 80px;
        padding-bottom: 122px;
}
}

@media screen and (min-width: 768px) {
    .footer__box {
        display: flex;
        flex-wrap: wrap-reverse;
    } 
}

@media screen and (min-width: 768px) {
    .footer__list_info {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 5%;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}